.StubCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    padding: 1rem 0;
    max-width: 100%;
  }

  a {
    background: #282828;
    color: white;
    border-radius: 30px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    border: none;
    text-decoration: none;
    cursor: pointer;

  }
}