@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
  margin: 4rem;
  font-family: 'Oxygen', sans-serif;
  background: #ffdf8c;
  box-sizing: border-box;

  @media (max-width: 1000px) {
    margin: 2rem;
  }
  @media (max-width: 500px) {
    margin: 1rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
